@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using UmbracoMemberHandling.Models;
@using UmbracoMemberHandling.Controllers;
@model ForgottenPasswordViewModel

@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["ResetEmailSent"]))
{

	<div class="alert alert-success">
		<h4>Success</h4>
		<p>We have sent you a link to your email address to reset your password.</p>
	</div>
}
else
{
	using (Html.BeginUmbracoForm<MemberController>
	("HandleForgottenPassword"))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)


	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				@Html.LabelFor(model => model.EmailAddress, "Email address")
				@Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email Address" })
				@Html.ValidationMessageFor(model => model.EmailAddress, string.Empty)
			</div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-lg-7">
				<button type="submit" class="btn-primary">Submit</button>
			</div>
		</div>
		&nbsp;
	</div>

	}
}
