@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using UmbracoMemberHandling.Models;
@using UmbracoMemberHandling.Controllers;
@model ResetPasswordViewModel

@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
}

@if (!ViewData.ModelState.IsValid)
{
	<div class="alert alert-danger">
		<h4>Errors</h4>
		@foreach (ModelState modelState in ViewData.ModelState.Values)
		{
			var errors = modelState.Errors;

			if (errors.Any())
			{
				<ul>
					@foreach (ModelError error in errors)
					{
						<li><em>@error.ErrorMessage</em></li>
					}
				</ul>
			}
		}
	</div>
}


@using (Html.BeginUmbracoForm<MemberController>("HandleResetPassword"))
{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)


	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				@Html.LabelFor(model => model.UserName, "User Name")
				@Html.TextBoxFor(model => model.UserName, new { placeholder = "User Name" })
				@Html.ValidationMessageFor(model => model.UserName, string.Empty)
			</div>
		</div>
		&nbsp;
		<div class="row">
			@Html.ValidationMessageFor(model => model.Password, string.Empty, new { @style = "color:red" })
		</div>
		<div class="row">
			<div class="col-lg-3">
				@Html.LabelFor(model => model.Password, "Password")
				@Html.PasswordFor(model => model.Password, new { placeholder = "Password", pattern = "(?=.*)(?=.*[a-z])(?=.*[A-Z]).{8,}", @Title = "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" })
			</div>
		</div>
		&nbsp;
		<div class="row">
			@Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @style = "color:red" })
		</div>
		<div class="row">
			<div class="col-lg-3">
				@Html.LabelFor(model => model.ConfirmPassword, "Confirm password")
				@Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", pattern = "(?=.*)(?=.*[a-z])(?=.*[A-Z]).{8,}", @Title = "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" })
			</div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-lg-4">
				<button type="submit" class="btn-primary">Reset Password</button>
			</div>
		</div>
		&nbsp;
	</div>
}
